/* salvar como css/roupas.css */
body {
	background:url(imgs/fundo.jpg);
	background-size:cover;
}

#principal {
	background-color:rgba(255,255,255,0.8);
	border:3px groove navy;
	margin:auto;
	padding:15px;
	width:1020px;
}

.botaoAceso {
	background-color:rgb(226,240,217);
	color:navy; 
	font-weight:bolder;
}

#menu button {
	border:2px solid black;
	padding:5px;
	text-align:center;
	width:150px;
}

.numero{ 
	background-color:rgba(0,0,0,0);
	border:none; 
	color:navy;
	text-align:right; 
	width:150px; 
}

.quantidade{
		text-align:right;
		width:80px;
}

.atencao {color:red;}

.linha {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.coluna {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.titTabela		{ color:navy;}
.titDireita 	{ text-align:right;}

/*===========================================================================*/
/* Escondendo os spinners das caixas de números */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/*===========================================================================*/


